{% templatetag openblock %} templatetag openblock %} extends "base.html" {% templatetag closeblock {% templatetag closeblock %}

{% templatetag openblock %} templatetag openblock %} block title {% templatetag closeblock %}Page Not found{% templatetag openblock %} endblock {% templatetag closeblock {% templatetag closeblock %}

{% templatetag openblock %} templatetag openblock %} block page_title {% templatetag closeblock %}Page Not found{% templatetag openblock %} endblock page_title {% templatetag closeblock {% templatetag closeblock %}

{% templatetag openblock %} templatetag openblock %} block content {% templatetag closeblock {% templatetag closeblock %}
<p>This is not the page you were looking for.</p>
{% templatetag openblock %} templatetag openblock %} endblock content {% templatetag closeblock {% templatetag closeblock %}