{% templatetag openblock %} load i18n cms_tags menu_tags staticfiles sekizai_tags {% templatetag closeblock %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{% templatetag openblock %} page_attribute page_title {% templatetag closeblock %}</title>
        {% templatetag openblock %} block head_meta {% templatetag closeblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="follow, all" />
        <meta name="description" content="{% templatetag openblock %} page_attribute meta_description {% templatetag closeblock %}">
        <meta name="keywords" content="{% templatetag openblock %} page_attribute meta_keywords {% templatetag closeblock %}">
        <meta name="viewport" content="width=device-width">

        <link rel="pingback" href="/xmlrpc/" />
        <link rel="home" href="/" />
        {% templatetag openblock %} endblock {% templatetag closeblock %}

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% templatetag openblock %} block head_favicons {% templatetag closeblock %}
        <link rel="shortcut icon" href="{% templatetag openblock %} static "favicon.ico" {% templatetag closeblock %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% templatetag openblock %} static "apple-touch-icon-144x144-precomposed.png" {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% templatetag openblock %} static "apple-touch-icon-114x114-precomposed.png" {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% templatetag openblock %} static "apple-touch-icon-72x72-precomposed.png" {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% templatetag openblock %} static "apple-touch-icon-57x57-precomposed.png" {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" href="{% templatetag openblock %} static "apple-touch-icon-precomposed.png" {% templatetag closeblock %}">
        {% templatetag openblock %} endblock {% templatetag closeblock %}

        {% templatetag openblock %} render_block "css" {% templatetag closeblock %}
        {% templatetag openblock %} addtoblock "css" {% templatetag closeblock %}
        <link rel="stylesheet" href="{% templatetag openblock %} static "css/bootstrap.min.css" {% templatetag closeblock %}">
        <link rel="stylesheet" href="{% templatetag openblock %} static "css/bootstrap-glyphicons.css" {% templatetag closeblock %}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{% templatetag openblock %} static "css/main.css" {% templatetag closeblock %}">
        {% templatetag openblock %} endaddtoblock {% templatetag closeblock %}

        {% templatetag openblock %} render_block "head_js" {% templatetag closeblock %}
        {% templatetag openblock %} addtoblock "head_js" {% templatetag closeblock %}
        <script src="{% templatetag openblock %} static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" {% templatetag closeblock %}"></script>
        {% templatetag openblock %} endaddtoblock {% templatetag closeblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        {% templatetag openblock %} cms_toolbar {% templatetag closeblock %}

        {% templatetag openblock %} block header {% templatetag closeblock %}
        {% templatetag openblock %} block navbar {% templatetag closeblock %}
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% templatetag openvariable %} site.name {% templatetag closevariable %}</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% templatetag openblock %} show_menu {% templatetag closeblock %}
                            {% templatetag openblock %} comment {% templatetag closeblock %}
                            {# E.G. #}
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            {% templatetag openblock %} endcomment {% templatetag closeblock %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
        {% templatetag openblock %} endblock {% templatetag closeblock %}
        {% templatetag openblock %} endblock {% templatetag closeblock %}

        {% templatetag openblock %} block message_alerts {% templatetag closeblock %}
        {% templatetag openblock %} if messages {% templatetag closeblock %}
        {% templatetag openblock %} for message in messages {% templatetag closeblock %}
        <div class="container">
            <div class="alert{% templatetag openblock %} if message.tags {% templatetag closeblock %} {% templatetag openvariable %} message.tags {% templatetag closevariable %}{% templatetag openblock %} endif {% templatetag closeblock %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {% templatetag openvariable %} message {% templatetag closevariable %}
            </div>
        </div>
        {% templatetag openblock %} endfor {% templatetag closeblock %}
        {% templatetag openblock %} endif {% templatetag closeblock %}
        {% templatetag openblock %} endblock {% templatetag closeblock %}

        {% templatetag openblock %} block base_content {% templatetag closeblock %}
        <div class="container">

            {% templatetag openblock %} placeholder content {% templatetag closeblock %}
            {% templatetag openblock %} block content {% templatetag closeblock %}
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="jumbotron">
                {% templatetag openblock %} placeholder hero_content {% templatetag closeblock %}
                {% templatetag openblock %} block hero_content {% templatetag closeblock %}
                {% templatetag openblock %} endblock {% templatetag closeblock %}
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="col-lg-4">
                    {% templatetag openblock %} placeholder feature1_content {% templatetag closeblock %}
                    {% templatetag openblock %} block feature1_content {% templatetag closeblock %}
                    {% templatetag openblock %} endblock {% templatetag closeblock %}
                </div>
                <div class="col-lg-4">
                    {% templatetag openblock %} placeholder feature2_content {% templatetag closeblock %}
                    {% templatetag openblock %} block feature2_content {% templatetag closeblock %}
                    {% templatetag openblock %} endblock {% templatetag closeblock %}
               </div>
                <div class="col-lg-4">
                    {% templatetag openblock %} placeholder feature3_content {% templatetag closeblock %}
                    {% templatetag openblock %} block feature3_content {% templatetag closeblock %}
                    {% templatetag openblock %} endblock {% templatetag closeblock %}
                </div>
            </div>
            {% templatetag openblock %} endblock {% templatetag closeblock %}

            <hr>

            {% templatetag openblock %} block footer {% templatetag closeblock %}
            <footer>
                {% templatetag openblock %} block footer_content {% templatetag closeblock %}
                <p>&copy; Company 2012</p>
                {% templatetag openblock %} endblock {% templatetag closeblock %}
            </footer>
            {% templatetag openblock %} endblock {% templatetag closeblock %}

        </div> <!-- /container -->
        {% templatetag openblock %} endblock {% templatetag closeblock %}

        {% templatetag openblock %} render_block "js" {% templatetag closeblock %}
        {% templatetag openblock %} addtoblock "js" {% templatetag closeblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% templatetag openblock %} static "js/vendor/jquery-1.10.1.min.js" {% templatetag closeblock %}"><\/script>')</script>

        <script src="{% templatetag openblock %} static "js/vendor/bootstrap.min.js" {% templatetag closeblock %}"></script>

        <script src="{% templatetag openblock %} static "js/main.js" {% templatetag closeblock %}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% templatetag openblock %} endaddtoblock {% templatetag closeblock %}
    </body>
</html>
