{% templatetag openblock %} load menu_tags {% templatetag closeblock %}
{% templatetag openblock %} for child in children {% templatetag closeblock %}
<li class="{% templatetag openblock %} if child.selected {% templatetag closeblock %}active{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} if child.ancestor {% templatetag closeblock %}ancestor{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} if child.sibling {% templatetag closeblock %}sibling{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} if child.descendant {% templatetag closeblock %}descendant{% templatetag openblock %} endif {% templatetag closeblock %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
	{% templatetag openblock %} if child.children {% templatetag closeblock %}
    <ul>
        {% templatetag openblock %} show_menu from_level to_level extra_inactive extra_active template "" "" child {% templatetag closeblock %}
    </ul>
    {% templatetag openblock %} endif {% templatetag closeblock %}
</li>
{% templatetag openblock %} endfor {% templatetag closeblock %}
