{% templatetag openblock %} load i18n {% templatetag closeblock %}
<ul class="category-root nav nav-tabs nav-stacked">
  {% templatetag openblock %} for category in categories {% templatetag closeblock %}
  <li{% templatetag openblock %} if category.slug == context_category.slug {% templatetag closeblock %} class="current"{% templatetag openblock %} endif {% templatetag closeblock %}>
    <a href="{{ category.get_absolute_url }}"
       title="{% templatetag openblock %} blocktrans {% templatetag closeblock %}Show all entries in {{ category }}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}">{{ category }}
      <span class="label label-info">
        {% templatetag openblock %} blocktrans count entry_count=category.count_entries_published {% templatetag closeblock %}{{ entry_count }} entry{% templatetag openblock %} plural {% templatetag closeblock %}{{ entry_count }} entries{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
      </span>
    </a>
  </li>
  {% templatetag openblock %} empty {% templatetag closeblock %}
  <li>
    <a href="#">{% templatetag openblock %} trans "No categories yet." {% templatetag closeblock %}</a>
  </li>
  {% templatetag openblock %} endfor {% templatetag closeblock %}
</ul>
