{% templatetag openblock %} load i18n {% templatetag closeblock %}
<nav class="pagination pagination-centered">
  <ul>
    {% templatetag openblock %} if page.has_previous {% templatetag closeblock %}
    <li class="page previous">
      <a href="?page={{ page.previous_page_number }}{{ GET_string }}"
         title="{% templatetag openblock %} trans "More recent entries" {% templatetag closeblock %}">&laquo;</a>
    </li>
    {% templatetag openblock %} endif {% templatetag closeblock %}

    {% templatetag openblock %} for page_number in begin {% templatetag closeblock %}
    <li class="page {% templatetag openblock %} ifequal page.number page_number {% templatetag closeblock %}active{% templatetag openblock %} endifequal {% templatetag closeblock %}">
      {% templatetag openblock %} ifequal page.number page_number {% templatetag closeblock %}
      <a href="#">{{ page_number }}</a>
      {% templatetag openblock %} else {% templatetag closeblock %}
      <a href="?page={{ page_number }}{{ GET_string }}"
         title="{% templatetag openblock %} trans "Entries page" {% templatetag closeblock %} {{ page_number }}">{{ page_number }}</a>
      {% templatetag openblock %} endifequal{% templatetag closeblock %}
    </li>
    {% templatetag openblock %} endfor {% templatetag closeblock %}

    {% templatetag openblock %} if middle {% templatetag closeblock %}
    <li class="disabled">
      <a href="#">&hellip;</a>
    </li>
    {% templatetag openblock %} for page_number in middle {% templatetag closeblock %}
    <li class="page {% templatetag openblock %} ifequal page.number page_number {% templatetag closeblock %}active{% templatetag openblock %} endifequal {% templatetag closeblock %}">
      {% templatetag openblock %} ifequal page.number page_number {% templatetag closeblock %}
      <a href="#">{{ page_number }}</a>
      {% templatetag openblock %} else {% templatetag closeblock %}
      <a href="?page={{ page_number }}{{ GET_string }}"
         title="{% templatetag openblock %} trans "Entries page" {% templatetag closeblock %} {{ page_number }}">{{ page_number }}</a>
      {% templatetag openblock %} endifequal{% templatetag closeblock %}
    </li>
    {% templatetag openblock %} endfor {% templatetag closeblock %}
    {% templatetag openblock %} endif {% templatetag closeblock %}

    {% templatetag openblock %} if end {% templatetag closeblock %}
    <li class="disabled">
      <a href="#">&hellip;</a>
    </li>
    {% templatetag openblock %} for page_number in end {% templatetag closeblock %}
    <li class="page {% templatetag openblock %} ifequal page.number page_number {% templatetag closeblock %}active{% templatetag openblock %} endifequal {% templatetag closeblock %}">
      {% templatetag openblock %} ifequal page.number page_number {% templatetag closeblock %}
      <a href="#">{{ page_number }}</a>
      {% templatetag openblock %} else {% templatetag closeblock %}
      <a href="?page={{ page_number }}{{ GET_string }}"
         title="{% templatetag openblock %} trans "Entries page" {% templatetag closeblock %} {{ page_number }}">{{ page_number }}</a>
      {% templatetag openblock %} endifequal{% templatetag closeblock %}
    </li>
    {% templatetag openblock %} endfor {% templatetag closeblock %}
    {% templatetag openblock %} endif {% templatetag closeblock %}

    {% templatetag openblock %} if page.has_next {% templatetag closeblock %}
    <li class="page next">
      <a href="?page={{ page.next_page_number }}{{ GET_string }}"
         title="{% templatetag openblock %} trans "More old entries" {% templatetag closeblock %}">&raquo;</a>
    </li>
    {% templatetag openblock %} endif {% templatetag closeblock %}
  </ul>
</nav>
