{% templatetag openblock %} load i18n {% templatetag closeblock %}
<ul class="nav nav-tabs nav-stacked">
  {% templatetag openblock %} for entry in entries {% templatetag closeblock %}
  <li>
    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
  </li>
  {% templatetag openblock %} empty {% templatetag closeblock %}
  <li>
    <a href="#">{% templatetag openblock %} trans "No entries yet." {% templatetag closeblock %}</a>
  </li>
  {% templatetag openblock %} endfor {% templatetag closeblock %}
</ul>
