{% templatetag openblock %} load i18n {% templatetag closeblock %}
<ul class="nav nav-tabs nav-stacked">
  {% templatetag openblock %} for linkback in linkbacks {% templatetag closeblock %}
  <li>
    {% templatetag openblock %} with entry=linkback.content_object {% templatetag closeblock %}
    <a href="{% templatetag openvariable %} entry.get_absolute_url }}#c{{ linkback.pk {% templatetag closevariable %}"
       title="{% templatetag openblock %} trans "Linkback on" {% templatetag closeblock %} {% templatetag openvariable %} entry.title {% templatetag closevariable %}">
      {% templatetag openvariable %} linkback.user_name }} {% templatetag openblock %} trans "in" {% templatetag closeblock %} {{ entry.title {% templatetag closevariable %}
    </a>
    {% templatetag openblock %} endwith {% templatetag closeblock %}
  </li>
  {% templatetag openblock %} empty {% templatetag closeblock %}
  <li>
    <a href="#">{% templatetag openblock %} trans "No linkbacks yet." {% templatetag closeblock %}</a>
  </li>
  {% templatetag openblock %} endfor {% templatetag closeblock %}
</ul>
