{% templatetag openblock %} load i18n {% templatetag closeblock %}
<ul class="nav nav-tabs nav-stacked">
  {% templatetag openblock %} for comment in comments {% templatetag closeblock %}
  <li>
    {% templatetag openblock %} with entry=comment.content_object {% templatetag closeblock %}
    <a href="{{ entry.get_absolute_url }}#comment-{{ comment.pk }}-by-{{ comment.user_name }}"
       title="{% templatetag openblock %} trans "Comment on" {% templatetag closeblock %} {{ entry.title }}">
      {{ comment.user_name }} {% templatetag openblock %} trans "in" {% templatetag closeblock %}
      {{ entry.title }}
    </a>
    {% templatetag openblock %} endwith {% templatetag closeblock %}
  </li>
  {% templatetag openblock %} empty {% templatetag closeblock %}
  <li>
    <a href="#">{% templatetag openblock %} trans "No comments yet." {% templatetag closeblock %}</a>
  </li>
  {% templatetag openblock %} endfor {% templatetag closeblock %}
</ul>
