{% templatetag openblock %} load comments i18n {% templatetag closeblock %}
{% templatetag openblock %} load url from future {% templatetag closeblock %}
<article id="entry-{% templatetag openvariable %} object.pk {% templatetag closevariable %}" class="hentry{% templatetag openblock %} if object.featured {% templatetag closeblock %} featured{% templatetag openblock %} endif {% templatetag closeblock %}">
  {% templatetag openblock %} block entry-header {% templatetag closeblock %}
  <header class="entry-header">
    {% templatetag openblock %} block entry-title {% templatetag closeblock %}
    <h2 class="entry-title">
      <a href="{% templatetag openvariable %} object.get_absolute_url }}" title="{{ object.title {% templatetag closevariable %}" rel="bookmark">
        {% templatetag openvariable %} object.title {% templatetag closevariable %}
      </a>
    </h2>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} block entry-info {% templatetag closeblock %}
    <p class="entry-info">
      {% templatetag openblock %} with authors=object.authors.all {% templatetag closeblock %}
      {% templatetag openblock %} if authors|length {% templatetag closeblock %}
      {% templatetag openblock %} trans "Written by" {% templatetag closeblock %}
      {% templatetag openblock %} for author in authors {% templatetag closeblock %}
      <span class="vcard author">
        <a href="{% templatetag openvariable %} author.get_absolute_url {% templatetag closevariable %}" class="fn url{% templatetag openblock %} if not author.get_full_name {% templatetag closeblock %} nickname{% templatetag openblock %} endif {% templatetag closeblock %}" rel="author"
           title="{% templatetag openblock %} blocktrans {% templatetag closeblock %}Show all {% templatetag openvariable %} author }}'s entries{% templatetag openblock %} endblocktrans {% templatetag closeblock %}">{{ author {% templatetag closevariable %}</a></span>{% templatetag openblock %} if not forloop.last {% templatetag closeblock %}, {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endfor {% templatetag closeblock %}
      {% templatetag openblock %} trans "on" {% templatetag closeblock %}
      {% templatetag openblock %} else {% templatetag closeblock %}
      {% templatetag openblock %} trans "Written on" {% templatetag closeblock %}
      {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endwith {% templatetag closeblock %}
      <time datetime="{% templatetag openvariable %} object.creation_date|date:"c" }}" pubdate="pubdate">{{ object.creation_date|date:"DATE_FORMAT" {% templatetag closevariable %}</time>
      {% templatetag openblock %} with categories=object.categories.all {% templatetag closeblock %}
      {% templatetag openblock %} if categories|length {% templatetag closeblock %}
      {% templatetag openblock %} trans "in" {% templatetag closeblock %}
      {% templatetag openblock %} for category in categories {% templatetag closeblock %}
      <a href="{% templatetag openvariable %} category.get_absolute_url {% templatetag closevariable %}"
         title="{% templatetag openblock %} blocktrans {% templatetag closeblock %}Show all entries in {% templatetag openvariable %} category {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}"
         rel="tag category">{% templatetag openvariable %} category {% templatetag closevariable %}</a>{% templatetag openblock %} if not forloop.last {% templatetag closeblock %}, {% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endfor {% templatetag closeblock %}{% templatetag openblock %} endif {% templatetag closeblock %}.{% templatetag openblock %} endwith {% templatetag closeblock %}
    </p>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
  </header>
  {% templatetag openblock %} endblock {% templatetag closeblock %}

  {% templatetag openblock %} block entry-body {% templatetag closeblock %}
  <div class="entry-body">
    {% templatetag openblock %} block entry-image {% templatetag closeblock %}
    {% templatetag openblock %} if object.image {% templatetag closeblock %}
    <div class="entry-image">
      <p>
        {% templatetag openblock %} if continue_reading {% templatetag closeblock %}
        <a href="{% templatetag openvariable %} object.get_absolute_url }}" title="{{ object.title {% templatetag closevariable %}" rel="bookmark">
          {% templatetag openblock %} endif {% templatetag closeblock %}
          <img src="{% templatetag openvariable %} object.image.url }}" alt="{{ object.title {% templatetag closevariable %}" class="thumbnail pull-left" style="margin-right: 15px;" />
          {% templatetag openblock %} if continue_reading {% templatetag closeblock %}
        </a>
        {% templatetag openblock %} endif {% templatetag closeblock %}
      </p>
    </div>
    {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} block entry-content {% templatetag closeblock %}
    <div class="entry-content">
      {% templatetag openvariable %} object_content {% templatetag closevariable %}
    </div>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} block continue-reading {% templatetag closeblock %}
    {% templatetag openblock %} if continue_reading {% templatetag closeblock %}
    <p class="continue-reading">
      <a href="{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}"
         title="{% templatetag openblock %} blocktrans with object=object.title {% templatetag closeblock %}Continue reading {% templatetag openvariable %} object {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}"
         rel="bookmark" class="btn btn-primary">
        {% templatetag openblock %} trans "Continue reading" {% templatetag closeblock %}
      </a>
    </p>
    {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} endblock {% templatetag closeblock %}
  </div>
  {% templatetag openblock %} endblock {% templatetag closeblock %}

  {% templatetag openblock %} block entry-footer {% templatetag closeblock %}
  <footer class="entry-footer well">
    {% templatetag openblock %} block entry-tags {% templatetag closeblock %}
    <p class="entry-tags">
      <i class="glyphicon glyphicon-tags"></i> <strong>{% templatetag openblock %} trans "Tags" {% templatetag closeblock %}</strong> :
      {% templatetag openblock %} for tag in object.tags_list {% templatetag closeblock %}
      <a href="{% templatetag openblock %} url 'zinnia_tag_detail' tag {% templatetag closeblock %}"
         title="{% templatetag openblock %} blocktrans {% templatetag closeblock %}Show all entries tagged by {% templatetag openvariable %} tag {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}"
         rel="tag">{% templatetag openvariable %} tag {% templatetag closevariable %}</a>
      {% templatetag openblock %} empty {% templatetag closeblock %}
      <span>{% templatetag openblock %} trans "No tags" {% templatetag closeblock %}</span>
      {% templatetag openblock %} endfor {% templatetag closeblock %}
    </p>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} block entry-shorturl {% templatetag closeblock %}
    <p class="entry-shorturl">
      <i class="glyphicon glyphicon-bookmark"></i> <strong>{% templatetag openblock %} trans "Short url" {% templatetag closeblock %}</strong> :
      <a href="{% templatetag openvariable %} object.short_url {% templatetag closevariable %}"
         title="{% templatetag openblock %} blocktrans with object=object.title {% templatetag closeblock %}Short URL to {% templatetag openvariable %} object {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}"
         rel="shortlink">
        {% templatetag openvariable %} object.short_url {% templatetag closevariable %}
      </a>
    </p>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} block entry-comments {% templatetag closeblock %}
    <p class="entry-comments">
      <i class="glyphicon glyphicon-comment"></i> <strong>{% templatetag openblock %} trans "Discussions" {% templatetag closeblock %}</strong> :
      {% templatetag openblock %} with comment_count=object.comment_count {% templatetag closeblock %}
      {% templatetag openblock %} if comment_count {% templatetag closeblock %}
      <a href="{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}#comments"
         title="{% templatetag openblock %} blocktrans with object=object.title {% templatetag closeblock %}Comments on {% templatetag openvariable %} object {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}">
        {% templatetag openblock %} blocktrans count comment_count=comment_count {% templatetag closeblock %}{% templatetag openvariable %} comment_count }} comment{% templatetag openblock %} plural {% templatetag closeblock %}{{ comment_count {% templatetag closevariable %} comments{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
      </a>
      {% templatetag openblock %} else {% templatetag closeblock %}
      {% templatetag openblock %} if object.comments_are_open {% templatetag closeblock %}
      {% templatetag openblock %} trans "No comments yet." {% templatetag closeblock %}
      <a href="{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}#comment-form"
         title="{% templatetag openblock %} blocktrans with object=object.title {% templatetag closeblock %}Leave a comment on {% templatetag openvariable %} object {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}">
        {% templatetag openblock %} trans "Be first to comment!" {% templatetag closeblock %}
      </a>
      {% templatetag openblock %} else {% templatetag closeblock %}
      {% templatetag openblock %} trans "Comments are closed." {% templatetag closeblock %}
      {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endwith {% templatetag closeblock %}
      {% templatetag openblock %} with pingback_count=object.pingback_count {% templatetag closeblock %}
      {% templatetag openblock %} if pingback_count {% templatetag closeblock %}
      , <a href="{% templatetag openvariable %} object.get_absolute_url }}#pingbacks" title="{% templatetag openblock %} blocktrans with object=object.title {% templatetag closeblock %}Pingbacks on {{ object {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}">
        {% templatetag openblock %} blocktrans count pingback_count=pingback_count {% templatetag closeblock %}{% templatetag openvariable %} pingback_count }} pingback{% templatetag openblock %} plural {% templatetag closeblock %}{{ pingback_count {% templatetag closevariable %} pingbacks{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
      </a>
      {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endwith {% templatetag closeblock %}
      {% templatetag openblock %} with trackback_count=object.trackback_count {% templatetag closeblock %}
      {% templatetag openblock %} if trackback_count {% templatetag closeblock %}
      , <a href="{% templatetag openvariable %} object.get_absolute_url }}#trackbacks" title="{% templatetag openblock %} blocktrans with object=object.title {% templatetag closeblock %}Trackbacks on {{ object {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}">
        {% templatetag openblock %} blocktrans count trackback_count=trackback_count {% templatetag closeblock %}{% templatetag openvariable %} trackback_count }} trackback{% templatetag openblock %} plural {% templatetag closeblock %}{{ trackback_count {% templatetag closevariable %} trackbacks{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
      </a>
      {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endwith {% templatetag closeblock %}
    </p>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
  </footer>
  {% templatetag openblock %} endblock {% templatetag closeblock %}
</article>
