{% templatetag openblock %} extends "zinnia/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n comments zinnia_tags {% templatetag closeblock %}
{% templatetag openblock %} load url from future {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openvariable %} object.title {% templatetag closevariable %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-description {% templatetag closeblock %}{% templatetag openblock %} if object.excerpt {% templatetag closeblock %}{% templatetag openvariable %} object.excerpt|striptags }}{% templatetag openblock %} else {% templatetag closeblock %}{{ object.content|striptags|truncatewords:100 {% templatetag closevariable %}{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-keywords {% templatetag closeblock %}{% templatetag openblock %} if object.tags {% templatetag closeblock %}{% templatetag openvariable %} object.tags }}{% templatetag openblock %} else {% templatetag closeblock %}{{ block.super {% templatetag closevariable %}{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block link {% templatetag closeblock %}
  {% templatetag openvariable %} block.super {% templatetag closevariable %}
  {% templatetag openblock %} with previous_entry=object.previous_entry {% templatetag closeblock %}{% templatetag openblock %} if previous_entry {% templatetag closeblock %}
  <link rel="prev" title="{% templatetag openvariable %} previous_entry.title }}" href="{{ previous_entry.get_absolute_url {% templatetag closevariable %}" />
  {% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endwith {% templatetag closeblock %}
  {% templatetag openblock %} with next_entry=object.next_entry {% templatetag closeblock %}{% templatetag openblock %} if next_entry {% templatetag closeblock %}
  <link rel="next" title="{% templatetag openvariable %} next_entry.title }}" href="{{ next_entry.get_absolute_url {% templatetag closevariable %}" />
  {% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endwith {% templatetag closeblock %}
  <link rel="shortlink" href="{% templatetag openvariable %} object.short_url {% templatetag closevariable %}" />
  <link rel="canonical" href="{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}" />
  {% templatetag openblock %} with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" {% templatetag closeblock %}
  <link rel="alternate" type="application/rss+xml" title="{% templatetag openblock %} trans "RSS Feed of discussions on" {% templatetag closeblock %} '{% templatetag openvariable %} object.title {% templatetag closevariable %}'"
        href="{% templatetag openblock %} url 'zinnia_entry_discussion_feed' year month day object.slug {% templatetag closeblock %}" />
  <link rel="alternate" type="application/rss+xml" title="{% templatetag openblock %} trans "RSS Feed of comments on" {% templatetag closeblock %} '{% templatetag openvariable %} object.title {% templatetag closevariable %}'"
        href="{% templatetag openblock %} url 'zinnia_entry_comment_feed' year month day object.slug {% templatetag closeblock %}" />
  <link rel="alternate" type="application/rss+xml" title="{% templatetag openblock %} trans "RSS Feed of pingbacks on" {% templatetag closeblock %} '{% templatetag openvariable %} object.title {% templatetag closevariable %}'"
        href="{% templatetag openblock %} url 'zinnia_entry_pingback_feed' year month day object.slug {% templatetag closeblock %}" />
  <link rel="alternate" type="application/rss+xml" title="{% templatetag openblock %} trans "RSS Feed of trackbacks on" {% templatetag closeblock %} '{% templatetag openvariable %} object.title {% templatetag closevariable %}'"
        href="{% templatetag openblock %} url 'zinnia_entry_trackback_feed' year month day object.slug {% templatetag closeblock %}" />
  {% templatetag openblock %} endwith {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body-class {% templatetag closeblock %}entry entry-{% templatetag openvariable %} object.pk }}{% templatetag openblock %} if object.featured {% templatetag closeblock %} featured{% templatetag openblock %} endif {% templatetag closeblock %} year-{{ object.creation_date|date:"Y" }} month-{{ object.creation_date|date:"m" }} week-{{ object.creation_date|date:"W" }} day-{{ object.creation_date|date:"d" {% templatetag closevariable %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

{% templatetag openblock %} block entry-content {% templatetag closeblock %}
  {% templatetag openblock %} include object.content_template with object_content=object.html_content|safe {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block entry-widgets {% templatetag closeblock %}
<aside class="entry-widgets" role="complementary">
  {% templatetag openblock %} with entry_related=object.related_published {% templatetag closeblock %}
  {% templatetag openblock %} if entry_related {% templatetag closeblock %}
  <div class="entry-related well">
    <h3>{% templatetag openblock %} trans "Related entries" {% templatetag closeblock %}</h3>
    <ul>
      {% templatetag openblock %} for entry in entry_related {% templatetag closeblock %}
      <li>
	<a href="{% templatetag openvariable %} entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title {% templatetag closevariable %}</a>
      </li>
      {% templatetag openblock %} endfor {% templatetag closeblock %}
    </ul>
  </div>
  {% templatetag openblock %} endif {% templatetag closeblock %}
  {% templatetag openblock %} endwith {% templatetag closeblock %}
  <div class="entry-similar well">
    <h3>{% templatetag openblock %} trans "Similar entries" {% templatetag closeblock %}</h3>
    {% templatetag openblock %} get_similar_entries {% templatetag closeblock %}
  </div>
  <div class="entry-prev-next">
    <ul class="pager">
      {% templatetag openblock %} with next_entry=object.next_entry {% templatetag closeblock %}
      {% templatetag openblock %} if next_entry {% templatetag closeblock %}
      <li class="next">
        <a href="{% templatetag openvariable %} next_entry.get_absolute_url }}" title="{{ next_entry.title {% templatetag closevariable %}" rel="next">
          {% templatetag openvariable %} next_entry.title {% templatetag closevariable %} &rarr;
        </a>
      </li>
      {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endwith {% templatetag closeblock %}
      {% templatetag openblock %} with previous_entry=object.previous_entry {% templatetag closeblock %}
      {% templatetag openblock %} if previous_entry {% templatetag closeblock %}
      <li class="previous">
        <a href="{% templatetag openvariable %} previous_entry.get_absolute_url }}" title="{{ previous_entry.title {% templatetag closevariable %}" rel="prev">
          &larr; {% templatetag openvariable %} previous_entry.title {% templatetag closevariable %}
        </a>
      </li>
      {% templatetag openblock %} endif {% templatetag closeblock %}
      {% templatetag openblock %} endwith {% templatetag closeblock %}
    </ul>
  </div>
</aside>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block entry-comments {% templatetag closeblock %}
<section id="comments">
  <h3>{% templatetag openblock %} trans "Comments" {% templatetag closeblock %}</h3>
  {% templatetag openblock %} if object.comment_count {% templatetag closeblock %}
  {% templatetag openblock %} with comment_list=object.comments {% templatetag closeblock %}
  <ol id="comment-list">
    {% templatetag openblock %} for comment in comment_list {% templatetag closeblock %}
    <li id="comment-{% templatetag openvariable %} comment.pk }}-by-{{ comment.user_name|slugify {% templatetag closevariable %}"
        class="comment vcard {% templatetag openblock %} cycle box1,box2 {% templatetag closeblock %}{% templatetag openblock %} if comment.user {% templatetag closeblock %} authenticated-comment{% templatetag openblock %} if comment.user.is_staff {% templatetag closeblock %} staff-comment{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} if comment.user.is_superuser {% templatetag closeblock %} superuser-comment{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endif {% templatetag closeblock %}">
      <img src="{% templatetag openblock %} get_gravatar comment.email 60 "G" {% templatetag closeblock %}"
           class="gravatar photo" alt="{% templatetag openvariable %} comment.name {% templatetag closevariable %}" />
      <p class="comment-info">
	{% templatetag openblock %} if comment.url {% templatetag closeblock %}
	<a href="{% templatetag openvariable %} comment.url {% templatetag closevariable %}" rel="external nofollow"
           class="fn url">{% templatetag openvariable %} comment.name {% templatetag closevariable %}</a>
	{% templatetag openblock %} else {% templatetag closeblock %}
	<span class="fn">{% templatetag openvariable %} comment.name {% templatetag closevariable %}</span>
	{% templatetag openblock %} endif {% templatetag closeblock %}
	{% templatetag openblock %} trans "on" {% templatetag closeblock %}
        <abbr class="comment-published" title="{% templatetag openvariable %} comment.submit_date|date:"c" {% templatetag closevariable %}">
          {% templatetag openvariable %} comment.submit_date|date:"SHORT_DATETIME_FORMAT" {% templatetag closevariable %}
        </abbr>
        <a href="#comment-{% templatetag openvariable %} comment.pk }}-by-{{ comment.user_name|slugify {% templatetag closevariable %}"
           id="c{% templatetag openvariable %} comment.pk {% templatetag closevariable %}" class="anchor-link"
           title="{% templatetag openblock %} trans "Direct link to this comment" {% templatetag closeblock %}">#</a>
      </p>
      {% templatetag openvariable %} comment.comment|linebreaks {% templatetag closevariable %}
    </li>
    {% templatetag openblock %} endfor {% templatetag closeblock %}
  </ol>
  {% templatetag openblock %} endwith {% templatetag closeblock %}
    {% templatetag openblock %} if not object.comments_are_open {% templatetag closeblock %}
  <p>{% templatetag openblock %} trans "Comments are closed." {% templatetag closeblock %}</p>
    {% templatetag openblock %} endif {% templatetag closeblock %}
  {% templatetag openblock %} else {% templatetag closeblock %}
    {% templatetag openblock %} if object.comments_are_open {% templatetag closeblock %}
  <p>{% templatetag openblock %} trans "No comments yet." {% templatetag closeblock %}</p>
    {% templatetag openblock %} else {% templatetag closeblock %}
  <p>{% templatetag openblock %} trans "Comments are closed." {% templatetag closeblock %}</p>
    {% templatetag openblock %} endif {% templatetag closeblock %}
  {% templatetag openblock %} endif {% templatetag closeblock %}
</section>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block entry-pingbacks {% templatetag closeblock %}
<section id="pingbacks">
  <h3>{% templatetag openblock %} trans "Pingbacks" {% templatetag closeblock %}</h3>
  {% templatetag openblock %} if object.pingback_count {% templatetag closeblock %}
  {% templatetag openblock %} with pingback_list=object.pingbacks {% templatetag closeblock %}
  <ol id="pingback-list">
    {% templatetag openblock %} for pingback in pingback_list {% templatetag closeblock %}
    <li id="pingback-{% templatetag openvariable %} pingback.pk {% templatetag closevariable %}" class="pingback vcard {% templatetag openblock %} cycle box1,box2 {% templatetag closeblock %}">
      <p class="pingback-info">
	<a href="{% templatetag openvariable %} pingback.url {% templatetag closevariable %}" rel="external nofollow"
           class="fn url org">{% templatetag openvariable %} pingback.name {% templatetag closevariable %}</a>
	{% templatetag openblock %} trans "on" {% templatetag closeblock %}
        <abbr class="pingback-published" title="{% templatetag openvariable %} pingback.submit_date|date:"c" {% templatetag closevariable %}">
          {% templatetag openvariable %} pingback.submit_date|date:"SHORT_DATETIME_FORMAT" {% templatetag closevariable %}
        </abbr>
        <a href="#pingback-{% templatetag openvariable %} pingback.pk {% templatetag closevariable %}"
           id="c{% templatetag openvariable %} pingback.pk {% templatetag closevariable %}" class="anchor-link"
           title="{% templatetag openblock %} trans "Direct link to this pingback" {% templatetag closeblock %}">#</a>
      </p>
      <p class="pingback-content">
	{% templatetag openvariable %} pingback.comment {% templatetag closevariable %}
      </p>
    </li>
    {% templatetag openblock %} endfor {% templatetag closeblock %}
  </ol>
  {% templatetag openblock %} endwith {% templatetag closeblock %}
  {% templatetag openblock %} endif {% templatetag closeblock %}
  {% templatetag openblock %} if object.pingbacks_are_open {% templatetag closeblock %}
  <p>{% templatetag openblock %} trans "Pingbacks are open." {% templatetag closeblock %}</p>
  {% templatetag openblock %} else {% templatetag closeblock %}
  <p>{% templatetag openblock %} trans "Pingbacks are closed." {% templatetag closeblock %}</p>
  {% templatetag openblock %} endif {% templatetag closeblock %}
</section>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block entry-trackbacks {% templatetag closeblock %}
{% templatetag openblock %} if object.trackback_count or object.trackbacks_are_open {% templatetag closeblock %}
<section id="trackbacks">
  <h3>{% templatetag openblock %} trans "Trackbacks" {% templatetag closeblock %}</h3>
  {% templatetag openblock %} if object.trackback_count {% templatetag closeblock %}
  {% templatetag openblock %} with trackback_list=object.trackbacks {% templatetag closeblock %}
  <ol id="trackback-list">
    {% templatetag openblock %} for trackback in trackback_list {% templatetag closeblock %}
    <li id="trackback-{% templatetag openvariable %} trackback.pk {% templatetag closevariable %}" class="trackback vcard {% templatetag openblock %} cycle box1,box2 {% templatetag closeblock %}">
      <p class="trackback-info">
	<a href="{% templatetag openvariable %} trackback.url {% templatetag closevariable %}" rel="external nofollow"
           class="fn url org">{% templatetag openvariable %} trackback.name {% templatetag closevariable %}</a>
	{% templatetag openblock %} trans "on" {% templatetag closeblock %}
        <abbr class="trackback-published" title="{% templatetag openvariable %} trackback.submit_date|date:"c" {% templatetag closevariable %}">
          {% templatetag openvariable %} trackback.submit_date|date:"SHORT_DATETIME_FORMAT" {% templatetag closevariable %}
        </abbr>
        <a href="#trackback-{% templatetag openvariable %} trackback.pk {% templatetag closevariable %}"
           id="c{% templatetag openvariable %} trackback.pk {% templatetag closevariable %}" class="anchor-link"
           title="{% templatetag openblock %} trans "Direct link to this trackback" {% templatetag closeblock %}">#</a>
      </p>
      <p class="trackback-content">
	{% templatetag openvariable %} trackback.comment {% templatetag closevariable %}
      </p>
    </li>
    {% templatetag openblock %} endfor {% templatetag closeblock %}
  </ol>
  {% templatetag openblock %} endwith {% templatetag closeblock %}
  {% templatetag openblock %} endif {% templatetag closeblock %}
  {% templatetag openblock %} if object.trackbacks_are_open {% templatetag closeblock %}
  <p>
    <a href="{% templatetag openblock %} url 'zinnia_entry_trackback' object.pk {% templatetag closeblock %}" rel="trackback">
      {% templatetag openblock %} trans "Trackback URL" {% templatetag closeblock %}</a>
  </p>
  {% templatetag openblock %} endif {% templatetag closeblock %}
</section>
{% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block entry-comments-form {% templatetag closeblock %}
{% templatetag openblock %} if object.comments_are_open {% templatetag closeblock %}
  {% templatetag openblock %} render_comment_form for object {% templatetag closeblock %}
{% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block admin_tools {% templatetag closeblock %}
{% templatetag openblock %} if perms.zinnia.change_entry {% templatetag closeblock %}
<li>
  <a href="{% templatetag openblock %} url 'admin:zinnia_entry_change' object.pk {% templatetag closeblock %}" title="{% templatetag openblock %} trans "Edit the entry" {% templatetag closeblock %}">
    <i class="glyphicon glyphicon-edit"></i>
    {% templatetag openblock %} trans "Edit the entry" {% templatetag closeblock %}
  </a>
</li>
{% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
