{% templatetag openblock %} extends "zinnia/entry_list.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n zinnia_tags {% templatetag closeblock %}
{% templatetag openblock %} load url from future {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Search results for" {% templatetag closeblock %} {% templatetag openblock %} if pattern {% templatetag closeblock %}'{% templatetag openvariable %} pattern }}'{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} if page_obj {% templatetag closeblock %}{% templatetag openblock %} ifnotequal page_obj.number 1 {% templatetag closeblock %} | {% templatetag openblock %} trans "Page" {% templatetag closeblock %} {{ page_obj.number {% templatetag closevariable %}{% templatetag openblock %} endifnotequal {% templatetag closeblock %}{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block meta-description {% templatetag closeblock %}{% templatetag openblock %} trans "Search results for" {% templatetag closeblock %} {% templatetag openblock %} if pattern {% templatetag closeblock %}'{% templatetag openvariable %} pattern }}'{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} if page_obj {% templatetag closeblock %}{% templatetag openblock %} ifnotequal page_obj.number 1 {% templatetag closeblock %} {% templatetag openblock %} trans "page" {% templatetag closeblock %} {{ page_obj.number {% templatetag closevariable %}{% templatetag openblock %} endifnotequal {% templatetag closeblock %}{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block link {% templatetag closeblock %}
  {% templatetag openvariable %} block.super {% templatetag closevariable %}
  <link rel="alternate" type="application/rss+xml" title="{% templatetag openblock %} trans "RSS Feed of search result of" {% templatetag closeblock %} '{% templatetag openvariable %} pattern }}'" href="{% templatetag openblock %} url 'zinnia_entry_search_feed' {% templatetag closeblock %}?pattern={{ pattern {% templatetag closevariable %}" />
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body-class {% templatetag closeblock %}{% templatetag openvariable %} block.super {% templatetag closevariable %} search {% templatetag openblock %} if object_list {% templatetag closeblock %}search-results{% templatetag openblock %} else {% templatetag closeblock %}search-no-results{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content-title {% templatetag closeblock %}
<h1>{% templatetag openblock %} trans "Search results for" {% templatetag closeblock %} '{% templatetag openvariable %} pattern {% templatetag closevariable %}'</h1>

{% templatetag openblock %} if error {% templatetag closeblock %}
<p class="alert alert-error">{% templatetag openvariable %} error {% templatetag closevariable %}</p>
{% templatetag openblock %} endif {% templatetag closeblock %}

{% templatetag openblock %} if object_list {% templatetag closeblock %}
<p class="alert alert-success">
  {% templatetag openblock %} blocktrans count entry_count=paginator.count {% templatetag closeblock %}{% templatetag openvariable %} entry_count }} entry found{% templatetag openblock %} plural {% templatetag closeblock %}{{ entry_count {% templatetag closevariable %} entries found{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
</p>
{% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content-loop {% templatetag closeblock %}
{% templatetag openblock %} if not error {% templatetag closeblock %}
{% templatetag openblock %} for object in object_list {% templatetag closeblock %}
  {% templatetag openblock %} include object.content_template with object_content=object.html_content|truncatewords_html:100|safe continue_reading=1 {% templatetag closeblock %}
{% templatetag openblock %} empty {% templatetag closeblock %}
<p class="alert alert-info">{% templatetag openblock %} trans "Nothing found." {% templatetag closeblock %}</p>
{% templatetag openblock %} endfor {% templatetag closeblock %}
{% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content-related {% templatetag closeblock %}
<div class="search">
  <form method="get" id="main_searchform" action="{% templatetag openblock %} url 'zinnia_entry_search' {% templatetag closeblock %}" class="well form-search">
    <p>
      <input type="text" value="{% templatetag openvariable %} pattern {% templatetag closevariable %}" name="pattern" id="main_searchbox" class="search-query input-xlarge" />
      <input type="submit" value="OK" class="btn"/>
      <a title="{% templatetag openblock %} trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex searchs.' {% templatetag closeblock %}">
        <i class="glyphicon glyphicon-info-sign"></i>
      </a>
    </p>
  </form>
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}
