{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} load staticfiles zinnia_tags i18n {% templatetag closeblock %}


{% templatetag openblock %} block head_meta {% templatetag closeblock %}
    <meta charset="utf-8">
    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
    <meta name="description" content="{% templatetag openblock %} block meta-description {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}" />
    <meta name="keywords" content="{% templatetag openblock %} block meta-keywords {% templatetag closeblock %}blog{% templatetag openblock %} endblock {% templatetag closeblock %}" />

    {% templatetag openblock %} block meta {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} block link {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
    {% templatetag openblock %} block script {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block header {% templatetag closeblock %}
{% templatetag openblock %} block navbar {% templatetag closeblock %}
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="{% templatetag openblock %} url 'zinnia_entry_archive_index' {% templatetag closeblock %}" title="{{ project_name }}" class="navbar-brand" rel="home">
          {{ project_name }}
      </a>
      <ul class="nav navbar-nav pull-left">
        {% templatetag openblock %} url 'zinnia_category_list' as category_list_url {% templatetag closeblock %}
        <li {% templatetag openblock %} if category_list_url in request.path {% templatetag closeblock %}class="active"{% templatetag openblock %} endif {% templatetag closeblock %}>
          <a href="{{ category_list_url }}" title="{% templatetag openblock %} trans "Category list" {% templatetag closeblock %}">
            {% templatetag openblock %} trans "Categories" {% templatetag closeblock %}
          </a>
        </li>
        {% templatetag openblock %} url 'zinnia_author_list' as author_list_url {% templatetag closeblock %}
        <li {% templatetag openblock %} if author_list_url in request.path {% templatetag closeblock %}class="active"{% templatetag openblock %} endif {% templatetag closeblock %}>
          <a href="{{ author_list_url }}" title="{% templatetag openblock %} trans "Author list" {% templatetag closeblock %}">
            {% templatetag openblock %} trans "Authors" {% templatetag closeblock %}
          </a>
        </li>
        {% templatetag openblock %} url 'zinnia_tag_list' as tag_list_url {% templatetag closeblock %}
        <li {% templatetag openblock %} if tag_list_url in request.path {% templatetag closeblock %}class="active"{% templatetag openblock %} endif {% templatetag closeblock %}>
          <a href="{{ tag_list_url }}" title="{% templatetag openblock %} trans "Tag list" {% templatetag closeblock %}">
            {% templatetag openblock %} trans "Tags" {% templatetag closeblock %}
          </a>
        </li>
        <li class="divider"></li>
      </ul>
      <form method="get" action="{% templatetag openblock %} url 'zinnia_entry_search' {% templatetag closeblock %}" class="navbar-form pull-left">
        <input type="text" class="form-control" placeholder="{% templatetag openblock %} trans 'Search' {% templatetag closeblock %}" name="pattern" value="{{ pattern }}" />
      </form>
      <ul class="nav navbar-nav pull-right">
        {% templatetag openblock %} url 'zinnia_sitemap' as sitemap_url {% templatetag closeblock %}
        <li {% templatetag openblock %} if sitemap in request.path {% templatetag closeblock %}class="active"{% templatetag openblock %} endif {% templatetag closeblock %}>
        <li>
          <a href="{{ sitemap_url }}" title="{% templatetag openblock %} trans "Sitemap" {% templatetag closeblock %}" class="sitemap">
            {% templatetag openblock %} trans "Sitemap" {% templatetag closeblock %}
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="{% templatetag openblock %} url 'zinnia_entry_latest_feed' {% templatetag closeblock %}" title="{% templatetag openblock %} trans "RSS Feed of latest entries" {% templatetag closeblock %}" class="feeds">
            {% templatetag openblock %} trans "RSS Feed" {% templatetag closeblock %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
{% templatetag openblock %} endblock {% templatetag closeblock %}

<div class="container">
  {% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</div>
{% templatetag openblock %} block slider {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block base_content {% templatetag closeblock %}
<div class="container">
  <div class="row">
    <div id="content" class="hfeed col-lg-8">
      {% templatetag openblock %} block content {% templatetag closeblock %}
      <div class="links">
        <h3>{% templatetag openblock %} trans "Useful links" {% templatetag closeblock %}</h3>
        <ul>
          <li>
            <a href="{% templatetag openblock %} url 'zinnia_entry_archive_index' {% templatetag closeblock %}" title="{% templatetag openblock %} trans "Blog index" {% templatetag closeblock %}">
              {% templatetag openblock %} trans "Blog index" {% templatetag closeblock %}
            </a>
          </li>
          <li>
            <a href="{% templatetag openblock %} url 'zinnia_sitemap' {% templatetag closeblock %}" title="{% templatetag openblock %} trans "Sitemap" {% templatetag closeblock %}">
              {% templatetag openblock %} trans "Sitemap" {% templatetag closeblock %}
            </a>
          </li>
        </ul>
      </div>
      <div class="search">
        <h3>{% templatetag openblock %} trans "Search" {% templatetag closeblock %}</h3>
        {% templatetag openblock %} include "zinnia/tags/search_form.html" {% templatetag closeblock %}
      </div>
      {% templatetag openblock %} endblock {% templatetag closeblock %}
    </div>
    <div id="sidebar" class="col-lg-4">
      <div id="widget-welcome" class="widget well">
        <h3>Welcome!</h3>
        <p>
          This simple skin is a base theme implementing Twitter's Bootstrap CSS toolkit.
        </p>
      </div>
      {% templatetag openblock %} block sidebar {% templatetag closeblock %}
      {% templatetag openblock %} endblock {% templatetag closeblock %}
    </div>
  </div>
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}
    <footer class="container">
      <p>Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.</p>
    </footer>
  </body>
</html>
